#!/usr/bin/env bash

################# Useful TIPS  ###################################
#                                                                #
# eval "$(direnv hook bash)"                                     #
#                                                                #
#  (or)                                                          #
#                                                                #
# eval "$(direnv hook zsh)"                                      #
#                                                                #
##################################################################

################# Generic settings ###############################
#                                                                #
#  Things you shouldn't need to ever change (hopefully)          #
#                                                                #
PATH_add bin                                                     #
#                                                                #
##################################################################

################# Project Specifics ##############################
#                                                                #
#                                                                #
#                                                                #
##################################################################

################# Developer's Environment ########################
#                                                                #
#  export SECRET=environment_value in this file                  #
#                                                                #
[[ -f .private/env ]] && source_env .private/env                 #
#                                                                #
##################################################################

export ROOTDIR="$(pwd)"
